<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>标签</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <link rel="stylesheet" href="../static/css/me.css">
</head>
<body>
    <!--导航菜单栏-->
    <nav class="ui inverted attached segment m-padded-tb-mini m-shadow-small" >
        <div class="ui container">
            <div class="ui inverted secondary stackable menu">
                <h2 class="ui teal header item">Micro Blog</h2>
                <a href="#" class="item"><i class="home icon"></i>首页</a>
                <a href="#" class="item"><i class="idea icon"></i>分类 </a>
                <a href="#" class="active item"><i class="tags icon"></i>标签</a>
                <a href="#" class="item"><i class="clone icon"></i>归档</a>
                <a href="#" class="item"><i class="info icon"></i>关于我</a>
                <div class="right item">
                    <div class="ui icon inverted transparent input">
                        <input type="text" placeholder="Search...">
                        <i class="search link icon"></i>
                    </div>
                </div>
            </div>
        </div>
    </nav>

    <!--中间内容-->
    <div class="m-container-small m-padded-tb-large">
        <div class="ui container">
            <!--header-->
            <div class="ui top attached segment">
                <div class="ui middle aligned two column grid">
                    <div class="column">
                        <h3 class="ui teal header">标签</h3>
                    </div>
                    <div class="right aligned column">
                        共<h2 class="ui orange header m-inline-block m-text-thin">20</h2>个
                    </div>
                </div>
            </div>
            <div class="ui attached segment">
                <a href="#" target="_blank" class="ui teal basic left pointing large label m-margin-tb-tiny">面向对象编程 <div class="detail">2</div></a>
                <a href="#" target="_blank" class="ui basic left pointing large label m-margin-tb-tiny">异常处理 <div class="detail">10</div></a>
                <a href="#" target="_blank" class="ui basic left pointing large label m-margin-tb-tiny">反射 <div class="detail">6</div></a>
                <a href="#" target="_blank" class="ui basic left pointing large label m-margin-tb-tiny">注解 <div class="detail">3</div></a>
                <a href="#" target="_blank" class="ui basic left pointing large label m-margin-tb-tiny">泛型 <div class="detail">7</div></a>
                <a href="#" target="_blank" class="ui basic left pointing large label m-margin-tb-tiny">集合 <div class="detail">15</div></a>
                <a href="#" target="_blank" class="ui basic left pointing large label m-margin-tb-tiny">IO <div class="detail">10</div></a>
                <a href="#" target="_blank" class="ui basic left pointing large label m-margin-tb-tiny">日期与时间 <div class="detail">5</div></a>
                <a href="#" target="_blank" class="ui basic left pointing large label m-margin-tb-tiny">单元测试 <div class="detail">6</div></a>
                <a href="#" target="_blank" class="ui basic left pointing large label m-margin-tb-tiny">正则表达式 <div class="detail">10</div></a>
                <a href="#" target="_blank" class="ui basic left pointing large label m-margin-tb-tiny">加密与安全 <div class="detail">5</div></a>
                <a href="#" target="_blank" class="ui basic left pointing large label m-margin-tb-tiny">多线程 <div class="detail">6</div></a>
                <a href="#" target="_blank" class="ui basic left pointing large label m-margin-tb-tiny">Maven基础 <div class="detail">11</div></a>
                <a href="#" target="_blank" class="ui basic left pointing large label m-margin-tb-tiny">网络编程 <div class="detail">9</div></a>
                <a href="#" target="_blank" class="ui basic left pointing large label m-margin-tb-tiny">XML与JSON <div class="detail">4</div></a>
                <a href="#" target="_blank" class="ui basic left pointing large label m-margin-tb-tiny">JDBC编程 <div class="detail">8</div></a>
                <a href="#" target="_blank" class="ui basic left pointing large label m-margin-tb-tiny">函数式编程 <div class="detail">6</div></a>
                <a href="#" target="_blank" class="ui basic left pointing large label m-margin-tb-tiny">设计模式 <div class="detail">3</div></a>
                <a href="#" target="_blank" class="ui basic left pointing large label m-margin-tb-tiny">Web开发 <div class="detail">5</div></a>
                <a href="#" target="_blank" class="ui basic left pointing large label m-margin-tb-tiny">Spring开发 <div class="detail">2</div></a>
            </div>

            <div class="ui top attached teal segment">
                <div class="ui padded vertical segment m-padded-tb-big">
                    <div class="ui mobile reversed stacked grid">
                        <div class="eleven wide column">
                            <h3 class="ui header">Spring究竟是什么？</h3>
                            <p class="m-text">Spring是一个支持快速开发Java EE应用程序的框架。它提供了一系列底层容器和基础设施，并可以和大量常用的开源框架无缝集成，可以说是开发Java EE应用程序的必备。</p>
                            <div class="ui stackable grid">
                                <div class="twelve wide column">
                                    <div class="ui mini horizontal link list">
                                        <div class="item">
                                            <img src="../static/images/me.png" alt="" class="ui avatar image">
                                            <div class="content">
                                                <a href="#" class="header">Luqi7</a>
                                            </div>
                                        </div>
                                        <div class="item">
                                            <i class="calendar icon"></i>  2020-4-16
                                        </div>
                                        <div class="item">
                                            <i class="eye icon"></i>  77
                                        </div>
                                    </div>
                                </div>
                                <div class="right aligned four wide column">
                                    <a href="#" target="_blank" class="ui teal basic label m-text-thin m-padded-tiny">Spring开发</a>
                                </div>
                            </div>
                        </div>
                        <div class="five wide column">
                            <a href="#" target="_blank">
                                <img src="https://picsum.photos/id/1010/600/400" alt="" class="ui rounded image">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="ui padded  vertical segment m-padded-tb-big">
                    <div class="ui grid">
                        <div class="eleven wide column">
                            <h3 class="ui header">IOC容器</h3>
                            <p class="m-text">Spring的核心就是提供了一个IoC容器，它可以管理所有轻量级的JavaBean组件，提供的底层服务包括组件的生命周期管理、配置和组装服务、AOP支持，以及建立在AOP基础上的声明式事务服务等。</p>
                            <div class="ui stackable grid">
                                <div class="twelve wide column">
                                    <div class="ui mini horizontal link list">
                                        <div class="item">
                                            <img src="../static/images/me.png" alt="" class="ui avatar image">
                                            <div class="content">
                                                <a href="#" class="header">Luqi7</a>
                                            </div>
                                        </div>
                                        <div class="item">
                                            <i class="calendar icon"></i>  2020-4-20
                                        </div>
                                        <div class="item">
                                            <i class="eye icon"></i>  102
                                        </div>
                                    </div>
                                </div>
                                <div class="right aligned four wide column">
                                    <a href="#" target="_blank" class="ui teal basic label m-text-thin m-padded-tiny">Spring开发</a>
                                </div>
                            </div>
                        </div>
                        <div class="five wide column">
                            <a href="#" target="_blank">
                                <img src="https://picsum.photos/id/1/600/400" alt="" class="ui rounded image">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="ui padded  vertical segment m-padded-tb-big">
                    <div class="ui grid">
                        <div class="eleven wide column">
                            <h3 class="ui header">装配Bean</h3>
                            <p class="m-text">我们前面讨论了为什么要使用Spring的IoC容器，因为让容器来为我们创建并装配Bean能获得很大的好处，那么到底如何使用IoC容器？装配好的Bean又如何使用？</p>
                            <div class="ui stackable grid">
                                <div class="twelve wide column">
                                    <div class="ui mini horizontal link list">
                                        <div class="item">
                                            <img src="../static/images/me.png" alt="" class="ui avatar image">
                                            <div class="content">
                                                <a href="#" class="header">Luqi7</a>
                                            </div>
                                        </div>
                                        <div class="item">
                                            <i class="calendar icon"></i>  2020-4-27
                                        </div>
                                        <div class="item">
                                            <i class="eye icon"></i>  13
                                        </div>
                                    </div>
                                </div>
                                <div class="right aligned four wide column">
                                    <a href="#" target="_blank" class="ui teal basic label m-text-thin m-padded-tiny">Spring开发</a>
                                </div>
                            </div>
                        </div>
                        <div class="five wide column">
                            <a href="#" target="_blank">
                                <img src="https://picsum.photos/id/1005/600/400" alt="" class="ui rounded image">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="ui padded  vertical segment m-padded-tb-big">
                    <div class="ui grid">
                        <div class="eleven wide column">
                            <h3 class="ui header">Maven介绍</h3>
                            <p class="m-text">Maven就是是专门为Java项目打造的管理和构建工具，它的主要功能有：
                                提供了一套标准化的项目结构；
                                提供了一套标准化的构建流程（编译，测试，打包，发布……）；
                                提供了一套依赖管理机制。</p>
                            <div class="ui stackable grid">
                                <div class="twelve wide column">
                                    <div class="ui mini horizontal link list">
                                        <div class="item">
                                            <img src="../static/images/me.png" alt="" class="ui avatar image">
                                            <div class="content">
                                                <a href="#" class="header">Luqi7</a>
                                            </div>
                                        </div>
                                        <div class="item">
                                            <i class="calendar icon"></i>  2020-4-20
                                        </div>
                                        <div class="item">
                                            <i class="eye icon"></i>  77
                                        </div>
                                    </div>
                                </div>
                                <div class="right aligned four wide column">
                                    <a href="#" target="_blank" class="ui teal basic label m-text-thin m-padded-tiny">Maven基础</a>
                                </div>
                            </div>
                        </div>
                        <div class="five wide column">
                            <a href="#" target="_blank">
                                <img src="https://picsum.photos/id/1020/600/400" alt="" class="ui rounded image">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="ui padded  vertical segment m-padded-tb-big">
                    <div class="ui stackable grid">
                        <div class="eleven wide column">
                            <h3 class="ui header">XML与JSON</h3>
                            <p class="m-text">XML和JSON是两种经常在网络使用的数据表示格式，本章我们介绍如何使用Java读写XML和JSON。</p>
                            <div class="ui grid">
                                <div class="twelve wide column">
                                    <div class="ui mini horizontal link list">
                                        <div class="item">
                                            <img src="../static/images/me.png" alt="" class="ui avatar image">
                                            <div class="content">
                                                <a href="#" class="header">Luqi7</a>
                                            </div>
                                        </div>
                                        <div class="item">
                                            <i class="calendar icon"></i>  2020-6-10
                                        </div>
                                        <div class="item">
                                            <i class="eye icon"></i>  1024
                                        </div>
                                    </div>
                                </div>
                                <div class="right aligned four wide column">
                                    <a href="#" target="_blank" class="ui teal basic label m-text-thin m-padded-tiny">XML与JSON</a>
                                </div>
                            </div>
                        </div>
                        <div class="five wide column">
                            <a href="#" target="_blank">
                                <img src="https://picsum.photos/id/1029/600/400" alt="" class="ui rounded image">
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <!--上下翻页-->
            <div class="ui bottom attached segment">
                <div class="ui middle aligned two column grid">
                    <div class="column">
                        <a href="#" class="ui mini teal basic button">上一页</a>
                    </div>
                    <div class="right aligned column">
                        <a href="#" class="ui mini teal basic button">下一页</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--底部-->
    <footer class="ui inverted vertical segment m-padded-tb-massive">
        <div class="ui center aligned container">
            <div class="ui inverted divided grid">
                <div class="three wide column">
                    <h4 class="ui inverted header m-opacity-mini">扫码关注我</h4>
                    <div class="ui inverted link list">
                        <div class="item">
                            <img src="../static/images/wechat.JPG" class="ui rounded image" style="width: 70px">
                        </div>
                    </div>
                </div>
                <div class="three wide column">
                    <h4 class="ui inverted header m-opacity-mini">最新博客</h4>
                    <div class="ui inverted link list">
                        <a href="#" class="item">用户故事 Story-teller</a>
                        <a href="#" class="item">菜鸟教程</a>
                        <a href="#" class="item">失败要趁早</a>
                    </div>
                </div>
                <div class="three wide column">
                    <h4 class="ui inverted header m-opacity-mini">联系我</h4>
                    <div class="ui inverted link list">
                        <a href="#" class="item">phone_number：19912452913</a>
                        <a href="#" class="item">Email：luqi_1122@163.com</a>
                    </div>
                </div>
                <div class="seven wide column">
                    <h4 class="ui inverted header m-opacity-mini">往来感悟</h4>
                    <div class="ui inverted link list">
                    <p class="m-opacity-mini">人的一生要做对两件事：找对工作和找对爱人，因为当太阳升起时你要投身于工作，而当夕阳西下时，你要与爱人相拥。</p>
                    </div>
                </div>
            </div>
            <div class="ui inverted section divider"></div>
            <p class="m-text-spaced m-opacity-mini">Copyright©2020-04-15 Designed by Luqi7</p>
        </div>
    </footer>

<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
<script>
    $('.menu.toggle').click(function () {
        $('.m-item').toggleClass('m-mobile-hide');
    });

</script>
</body>
</html>